# =============================================================================
# SENA SGA - Dependencias del Proyecto
# =============================================================================
# Instalar: pip install -r requirements.txt
# =============================================================================

# ============================================
# Framework Principal
# ============================================
Django==5.0.4
djangorestframework==3.15.1

# ============================================
# Autenticación JWT
# ============================================
djangorestframework-simplejwt==5.4.0

# ============================================
# Base de Datos
# ============================================
psycopg2-binary==2.9.9

# ============================================
# Seguridad
# ============================================
django-cors-headers==4.4.0
python-dotenv==1.0.1

# ============================================
# Utilidades
# ============================================
Pillow==10.4.0

# ============================================
# Desarrollo y Testing
# ============================================
black==24.4.2
flake8==7.1.1
pip-tools==7.4.1